<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <v-app :style="{background: $vuetify.theme.themes[theme].background}">
        <v-main>
            <v-container>
                <v-row class="mt-2">
                    <v-col class="d-flex">
                        <v-row>
                            <v-col>
                                <span class="text-h5">Publicaciones</span>
                            </v-col>
                            <v-col class="d-flex flex-column-reverse flex-sm-row justify-end">
                                <v-btn
                                    text
                                    color="primary"
                                    class="mt-2 mt-sm-0 mr-sm-2"
                                    @click="filtros.mostrar = filtros.mostrar === undefined ? 0 : undefined"
                                >
                                    Filtros
                                    <v-icon v-if="filtros.mostrar === 0" right>mdi-chevron-up</v-icon>
                                    <v-icon v-else right>mdi-chevron-down</v-icon>
                                </v-btn>
                                <v-btn color="primary">
                                    Crear publicacion
                                    <v-icon right>mdi-plus</v-icon>
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
                <v-row class="my-0">
                    <v-col>
                        <v-expansion-panels
                            v-model="filtros.mostrar"
                            flat
                            popout
                        >
                            <v-expansion-panel style="background-color: transparent">
                                <v-expansion-panel-content>
                                    <v-row>
                                        <v-col>
                                            <v-select
                                                outlined
                                                dense
                                                label="Categoria"
                                                :items="categorias"
                                                v-model="filtros.categoria"
                                                clearable
                                                hide-details
                                            >
                                            </v-select>
                                        </v-col>
                                        <v-col>
                                            <v-text-field
                                                outlined
                                                dense
                                                label="Titulo"
                                                v-model="filtros.titulo"
                                                hide-details
                                            ></v-text-field>
                                        </v-col>
                                        <v-col>
                                            <v-text-field
                                                outlined
                                                dense
                                                label="Cuerpo"
                                                v-model="filtros.cuerpo"
                                                hide-details
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col
                        class="col-12 col-sm-6 col-lg-4"
                        v-for="publicacion in publicaciones_filtradas"
                        :key="publicacion.id"
                    >
                        <v-card>
                            <v-card-subtitle class="pb-0">\{{publicacion.categoria}}</v-card-subtitle>
                            <v-card-title class="pt-0">\{{ publicacion.titulo }}</v-card-title>
                            <v-card-text>\{{publicacion.cuerpo}}</v-card-text>
                            <v-card-actions>
                                {{#if usuario}}
                                <v-btn
                                    small
                                    class="mr-1"
                                    color="primary"
                                >
                                    Aprobar
                                </v-btn>
                                <v-btn
                                    text
                                    small
                                    color="primary"
                                >
                                    Rechazar
                                </v-btn>
                                <v-spacer></v-spacer>
                                {{/if}}
                                <v-btn
                                    text
                                    small
                                    color="primary"
                                    :href="`/publicacion/${publicacion.id}?token=${$route.query.token}`"
                                >
                                    Ver mas
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/vue-router"></script>
<script>
    let theme = {
        theme: {
            themes: {
                light: {
                    primary: "#B54F40",
                    secondary: "#03A9F4",
                    accent: "#FF9800",
                    error: "#F44336",
                    warning: "#FFC107",
                    info: "#607D8B",
                    success: "#4CAF50",
                    background: '#F4E9E3'
                },
                dark: {
                    primary: "#B54F40"
                }
            },
            dark: false
        }
    }

    new Vue({
        el: '#app',
        vuetify: new Vuetify(theme),
        router:  new VueRouter({
            mode: 'history',
            routes: []
        }),
        data: () => ({
            filtros: {
                mostrar: undefined,
                categoria: "",
                titulo: "",
                cuerpo: ""
            },
            categorias: [
                {{#each categorias}}
                {
                    id: {{id}},
                    value: "{{nombre}}",
                    text: "{{nombre}}",
                    descripcion: "{{descripcion}}"
                },
                {{/each}}
            ],
            publicaciones: [
                {{#each publicaciones}}
                {
                    id: {{id}},
                    titulo: "{{titulo}}",
                    cuerpo: "{{cuerpo}}",
                    categoria: "{{categoria.nombre}}",
                    organizacion_id: {{organizacion.id}},
                    autor_id: {{autor.id}},
                    aprobada: {{aprobada}}
                },
                {{/each}}
            ]
        }),
        computed: {
            theme(){
                return (this.$vuetify.theme.dark) ? 'dark' : 'light'
            },
            publicaciones_filtradas() {
                if(!this.filtros.categoria && !this.filtros.titulo && !this.filtros.cuerpo)
                    return this.publicaciones;

                return this.publicaciones.filter(
                    publicacion =>
                        (!this.filtros.categoria || publicacion.categoria === this.filtros.categoria) &&
                        publicacion.titulo.toLowerCase().search(this.filtros.titulo.toLowerCase()) !== -1 &&
                        publicacion.cuerpo.toLowerCase().search(this.filtros.cuerpo.toLowerCase()) !== -1
                );
            }
        },
        created() {
            console.log(this.publicaciones);
        }
    })
</script>

<style>
    .v-expansion-panel-content__wrap {
        padding: 0 !important;
    }
</style>

</body>
</html>